node_modules
public/js
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
out/
.shadow-cljs/
.nrepl-port
pom.xml
.idea/
*.iml
app/
.clj-kondo/.cache/
.alc-id
*.DS_Store
.expo-shared/
web-build/
ghostwheel/
report*.json

targets/browser/public/js